
        .fpt{
            text-align: center;
            align-items: center;
        }
        
        .text01{
            font-size: 18pt;
            text-align: center;
            color: #305eb6;
        }
        